body {
  padding-left: 0px;
  padding-right: 0px;
}

header.masthead {
  background: linear-gradient(to bottom, rgba(38, 70, 83, 0.8) 0%, rgba(38, 70, 83, 0.8) 100%), url("../img/san-gorgonio-summit.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.dark-mode {
  background-color: black;
  color: white;
}

.pad-top-40 {
  padding-top: 40px
}
.img-profile{
	max-width: 75%;
	height: auto
}
